.modal-admin
{
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.modal-content
{
    margin: 5%;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}

.modal-card
{
    display: inline-block;
}

.modal-image-content
{
    height: 300px;
    overflow: auto;
}

.modal-url-content
{
    height: 300px;
    overflow: auto;
}

.modal-button-content
{
    display: flex;
    justify-content: center;
}

.modal-image
{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.modal-url
{
    border: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}

.modal-container
{
    border: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}

.modal-url:hover
{
    cursor: pointer;
    border: 1px solid blue;
}

.modal-container:hover
{
    cursor: pointer;
    border: 1px solid blue;
}

.modal-image:hover
{
    cursor: pointer;
    border: 1px solid blue;
}

.modal-add-button
{
    margin: 20px;
    padding: 10px;
    color: white;
}

.delete-image-button
{
    width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: red;
    text-align: center;
}

.modal-close-button
{
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
}

.delete-image-button:hover {cursor: pointer; filter: brightness(0.8); }
.modal-add-button:hover {cursor: pointer; filter: brightness(0.8); }
.modal-close-button:hover {cursor: pointer; filter: brightness(0.8); }