.facebook-carrousel
{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(35deg, rgba(12,126,213,1) 0%, rgba(0,255,194,1) 35%, rgba(0,200,255,1) 64%, rgba(0,154,189,1) 100%); 
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.30), 0 10px 7px rgba(0,0,0,0.22);
}

.facebook-carrousel-panel
{
    display: flex;
    flex-direction: row;
}

.facebook-carrousel-logo
{
    margin: 20px;
    width: 50px;
    height: 50px;
}

.facebook-carrousel-container
{
    display: flex;
    flex-direction: row;
}

.facebook-carrousel-content
{
    display: none;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.6);
    animation: fade linear 0.5s;
    min-height: 100px;
}

.facebook-carrousel-image
{
    margin: 5px;
    border-radius: 10px;
    max-height: 150px;
    max-width: 250px;
}

.facebook-carrousel-pagination
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.facebook-carrousel-page
{
    font-size: 24px;
    color: white;
}

.facebook-carrousel-page:hover
{
    cursor: pointer;
    color: orange;
}

@keyframes fade 
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@media(max-width: 900px)
{
    .facebook-carrousel-content { flex-direction: column; }
    .facebook-carrousel-panel { flex-direction: column; }
}
